{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    {# Header componenti #}
    {% include 'partials/header.html.twig' %}

    <div class="container mt-4">
        <div class="row">

            <div class="col-md-8">
                <section>
                    {% include 'partials/AcademicPaperSection.html.twig' %}
                </section>
            </div>

            <div class="col-md-4">
                <section>
                    {% include 'partials/card.html.twig' %}
                </section>
            </div>

        </div>

        <div class="row mt-4">
            <div class="col-md-8">
                <section>
                    {% include 'partials/accordion.html.twig' %}
                </section>
            </div>

            <div class="col-md-4">
                <section>
                    {% include 'partials/Sidebar.html.twig' %}
                </section>
            </div>
        </div>
    </div>

    {# Footer componenti #}
    {% include 'partials/footer.html.twig' %}

{% endblock %}
