<div class="container">
    <div class="bottom-header">
        <div class="overlay">
            <div class="container text-center py-4">
                <h2 class="bottom-header-title">{{ 'journal.title'|trans }}</h2>
            </div>
        </div>
    </div>
</div>
