<nav aria-label="breadcrumb" class="custom-breadcrumb">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
                <a href="/">Anasayfa</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dergi">Dergi</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dergi/fen-ve-teknik">Fen ve Teknik</a>
            </li>
        </ol>
    </div>
</nav>
