<div class="mb-4">
    <h6 class="text-muted mb-3">
        Dergi Ana Sayfası
    </h6>
    <div class="modern-list-group">
        <a href="#" class="list-group-item list-group-item-action active" onclick="setActiveLink(this)">
            Cilt:9 Sayfa:19
        </a>
        <a href="#" class="list-group-item list-group-item-action" onclick="setActiveLink(this)">
            Cilt:10 Sayfa:19
        </a>
        <a href="#" class="list-group-item list-group-item-action" onclick="setActiveLink(this)">
            Cilt:10 Sayfa:20
        </a>
        <a href="#" class="list-group-item list-group-item-action" onclick="setActiveLink(this)">
            Cilt:11 Sayfa:21
        </a>
        <a href="#" class="list-group-item list-group-item-action" onclick="setActiveLink(this)">
            Cilt:11 Sayfa:22
        </a>
    </div>
</div>
