{# Dergi Ana Sayfası Navigasyon #}
<div class="dergi-side-section">
    <div class="side-item">
        <span class="side-title">
            <a href="#"> Dergi Ana Sayfası</a>
        </span>
    </div>

    <div class="side-item">
        <span class="sidee-title">
            <a href="#">Arşiv</a>
        </span>
    </div>

    {# Cilt ve Sayı Listesi #}
    <div class="cilt-sayi-list">
        <div class="cilt-item">
            <span>Cilt: 9 Sayı: 18</span>
        </div>
        <div class="cilt-item">
            <span>Cilt: 10 Sayı: 19</span>
        </div>
        <div class="cilt-item active">
            <span>Cilt: 10 Sayı: 20</span>
        </div>
        <div class="cilt-item">
            <span>Cilt: 11 Sayı: 21</span>
        </div>
        <div class="cilt-item">
            <span>Cilt: 11 Sayı: 22</span>
        </div>
    </div>
</div>
